<javascript://><javascript://>




LEARN ENOUGH <https://www.learnenough.com/>

  * Courses <https://www.learnenough.com/courses>
  * The Rails Tutorial <http://www.railstutorial.org/>
  * The LE Story <https://www.learnenough.com/story>
  * Log In <https://www.learnenough.com/login>
  * Register <https://www.learnenough.com/subscribe>

$24
Buy eBook <https://www.learnenough.com/buy/301?option=ebooks>

Also available: over an hour of instructional screencasts that walk you
step by step through the tutorial
Mailing List All Access Subscription <https://www.learnenough.com/subscribe>
Follow author to receive email updates about new content

  * 1. Hello, world!
    <https://www.learnenough.com/javascript-tutorial/hello_world>
      o 1.1 Introduction to JavaScript
        <https://www.learnenough.com/javascript-tutorial/hello_world#sec-introduction_to_javascript>
      o 1.2 JS in a web browser
        <https://www.learnenough.com/javascript-tutorial/hello_world#sec-js_web>
          + 1.2.1 Deployment
            <https://www.learnenough.com/javascript-tutorial/hello_world#sec-deployment>
          + 1.2.2 Exercises
            <https://www.learnenough.com/javascript-tutorial/hello_world#sec-exercises_js_web>
      o 1.3 JS in a REPL
        <https://www.learnenough.com/javascript-tutorial/hello_world#sec-js_repl>
          + 1.3.1 Browser console
            <https://www.learnenough.com/javascript-tutorial/hello_world#sec-browser_console>
          + 1.3.2 Node prompt
            <https://www.learnenough.com/javascript-tutorial/hello_world#sec-node_prompt>
          + 1.3.3 Exercises
            <https://www.learnenough.com/javascript-tutorial/hello_world#sec-exercises_js_repl>
      o 1.4 JS in a file
        <https://www.learnenough.com/javascript-tutorial/hello_world#sec-js_in_a_file>
          + 1.4.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/hello_world#sec-exercises_js_in_a_file>
      o 1.5 JS in a shell script
        <https://www.learnenough.com/javascript-tutorial/hello_world#sec-js_shell>
          + 1.5.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/hello_world#sec-exercises_js_shell>
  * 2. Strings <https://www.learnenough.com/javascript-tutorial/strings>
      o 2.1 String basics
        <https://www.learnenough.com/javascript-tutorial/strings#sec-string_basics>
          + 2.1.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/strings#sec-exercises_string_basics>
      o 2.2 Concatenation and interpolation
        <https://www.learnenough.com/javascript-tutorial/strings#sec-concatenation_and_interpolation>
          + 2.2.1 The backtick syntax
            <https://www.learnenough.com/javascript-tutorial/strings#sec-the_backtick_syntax>
          + 2.2.2 Exercises
            <https://www.learnenough.com/javascript-tutorial/strings#sec-exercises_concatenation_and_interpolation>
      o 2.3 Printing
        <https://www.learnenough.com/javascript-tutorial/strings#sec-printing>
          + 2.3.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/strings#sec-exercises_printing>
      o 2.4 Properties, booleans, and control flow
        <https://www.learnenough.com/javascript-tutorial/strings#sec-properties>
          + 2.4.1 Combining and inverting booleans
            <https://www.learnenough.com/javascript-tutorial/strings#sec-combining_booleans>
          + 2.4.2 Bang bang
            <https://www.learnenough.com/javascript-tutorial/strings#sec-bang_bang>
          + 2.4.3 Exercises
            <https://www.learnenough.com/javascript-tutorial/strings#sec-exercises_properties>
      o 2.5 Methods
        <https://www.learnenough.com/javascript-tutorial/strings#sec-methods>
          + 2.5.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/strings#sec-exercises_methods>
      o 2.6 String iteration
        <https://www.learnenough.com/javascript-tutorial/strings#sec-string_iteration>
          + 2.6.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/strings#sec-exercises_string_iteration>
  * 3. Arrays <https://www.learnenough.com/javascript-tutorial/arrays>
      o 3.1 Splitting
        <https://www.learnenough.com/javascript-tutorial/arrays#sec-splitting>
          + 3.1.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/arrays#sec-exercises_splitting>
      o 3.2 Array access
        <https://www.learnenough.com/javascript-tutorial/arrays#sec-array_access>
          + 3.2.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/arrays#sec-exercises_array_access>
      o 3.3 Array slicing
        <https://www.learnenough.com/javascript-tutorial/arrays#sec-array_slicing>
          + 3.3.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/arrays#sec-exercises_array_slicing>
      o 3.4 More array methods
        <https://www.learnenough.com/javascript-tutorial/arrays#sec-more_array_methods>
          + 3.4.1 Sorting and reversing
            <https://www.learnenough.com/javascript-tutorial/arrays#sec-sorting_and_reversing>
          + 3.4.2 Pushing and popping
            <https://www.learnenough.com/javascript-tutorial/arrays#sec-pushing_and_popping>
          + 3.4.3 Undoing a split
            <https://www.learnenough.com/javascript-tutorial/arrays#sec-undoing_a_split>
          + 3.4.4 Exercises
            <https://www.learnenough.com/javascript-tutorial/arrays#sec-exercises_more_array_methods>
      o 3.5 Array iteration
        <https://www.learnenough.com/javascript-tutorial/arrays#sec-array_iteration>
          + 3.5.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/arrays#sec-exercises_array_iteration>
  * 4. Other native objects
    <https://www.learnenough.com/javascript-tutorial/other_native_objects>
      o 4.1 Math and Number
        <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-math>
          + 4.1.1 More advanced operations
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-more_advanced_operations>
          + 4.1.2 Math to string
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-math_to_string>
          + 4.1.3 Exercises
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-exercises_math>
      o 4.2 Dates
        <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-dates>
          + 4.2.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-exercises_dates>
      o 4.3 Regular expressions
        <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-regular_expressions>
          + 4.3.1 Regex methods
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-regex_methods>
          + 4.3.2 String methods
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-string_methods>
          + 4.3.3 Exercises
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-exercises_regular_expressions>
      o 4.4 Plain objects
        <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-plain_objects>
          + 4.4.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-exercises_plain_objects>
      o 4.5 Application: unique words
        <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-unique_words>
          + 4.5.1 Map
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-hash_map>
          + 4.5.2 Exercises
            <https://www.learnenough.com/javascript-tutorial/other_native_objects#sec-exercises_unique_words>
  * 5. Functions <https://www.learnenough.com/javascript-tutorial/functions>
      o 5.1 Function definitions
        <https://www.learnenough.com/javascript-tutorial/functions#sec-function_definitions>
          + 5.1.1 Sorting numerical arrays
            <https://www.learnenough.com/javascript-tutorial/functions#sec-sorting_numerical_arrays>
          + 5.1.2 Fat arrow
            <https://www.learnenough.com/javascript-tutorial/functions#sec-fat_arrow>
          + 5.1.3 Exercises
            <https://www.learnenough.com/javascript-tutorial/functions#sec-exercises_function_definitions>
      o 5.2 Functions in a file
        <https://www.learnenough.com/javascript-tutorial/functions#sec-functions_in_a_file>
          + 5.2.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/functions#sec-exercises_functions_in_a_file>
      o 5.3 Method chaining
        <https://www.learnenough.com/javascript-tutorial/functions#sec-method_chaining>
          + 5.3.1 Caveat emoji
            <https://www.learnenough.com/javascript-tutorial/functions#sec-caveat_emoji>
          + 5.3.2 Exercises
            <https://www.learnenough.com/javascript-tutorial/functions#sec-exercises_method_chaining>
      o 5.4 Iteration for each
        <https://www.learnenough.com/javascript-tutorial/functions#sec-iteration_for_each>
          + 5.4.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/functions#sec-exercises_iteration_for_each>
  * 6. Functional programming
    <https://www.learnenough.com/javascript-tutorial/functional_programming>
      o 6.1 Map
        <https://www.learnenough.com/javascript-tutorial/functional_programming#sec-map>
          + 6.1.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/functional_programming#sec-exercises_map>
      o 6.2 Filter
        <https://www.learnenough.com/javascript-tutorial/functional_programming#sec-filter>
          + 6.2.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/functional_programming#sec-exercises_filter>
      o 6.3 Reduce
        <https://www.learnenough.com/javascript-tutorial/functional_programming#sec-reduce>
          + 6.3.1 Reduce, example 1
            <https://www.learnenough.com/javascript-tutorial/functional_programming#sec-reduce_example_1>
          + 6.3.2 Reduce, example 2
            <https://www.learnenough.com/javascript-tutorial/functional_programming#sec-reduce_example_2>
          + 6.3.3 Functional programming and TDD
            <https://www.learnenough.com/javascript-tutorial/functional_programming#sec-functional_programming_and_tdd>
          + 6.3.4 Exercises
            <https://www.learnenough.com/javascript-tutorial/functional_programming#sec-exercises_reduce>
  * 7. Objects and prototypes
    <https://www.learnenough.com/javascript-tutorial/objects_and_prototypes>
      o 7.1 Defining objects
        <https://www.learnenough.com/javascript-tutorial/objects_and_prototypes#sec-constructors>
          + 7.1.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/objects_and_prototypes#sec-exercises_constructors>
      o 7.2 Prototypes
        <https://www.learnenough.com/javascript-tutorial/objects_and_prototypes#sec-prototypes>
          + 7.2.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/objects_and_prototypes#sec-exercises_prototypes>
      o 7.3 Modifying native objects
        <https://www.learnenough.com/javascript-tutorial/objects_and_prototypes#sec-modifying_native_objects>
          + 7.3.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/objects_and_prototypes#sec-exercises_modifying_native_objects>
  * 8. Testing and test-driven development
    <https://www.learnenough.com/javascript-tutorial/testing>
      o 8.1 Testing setup
        <https://www.learnenough.com/javascript-tutorial/testing#sec-testing_setup>
          + 8.1.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/testing#sec-exercises_testing_setup>
      o 8.2 Initial test coverage
        <https://www.learnenough.com/javascript-tutorial/testing#sec-testing_existing_functionality>
          + 8.2.1 Pending tests
            <https://www.learnenough.com/javascript-tutorial/testing#sec-pending_tests>
          + 8.2.2 Exercises
            <https://www.learnenough.com/javascript-tutorial/testing#sec-exercises_testing_existing_functionality>
      o 8.3 Red
        <https://www.learnenough.com/javascript-tutorial/testing#sec-red>
          + 8.3.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/testing#sec-exercises_red>
      o 8.4 Green
        <https://www.learnenough.com/javascript-tutorial/testing#sec-green>
          + 8.4.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/testing#sec-exercises_green>
      o 8.5 Refactor
        <https://www.learnenough.com/javascript-tutorial/testing#sec-refactor>
          + 8.5.1 Publishing the NPM module
            <https://www.learnenough.com/javascript-tutorial/testing#sec-publishing_the_npm_module>
          + 8.5.2 Exercises
            <https://www.learnenough.com/javascript-tutorial/testing#sec-exercises_refactor>
  * 9. Events and DOM manipulation
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation>
      o 9.1 A working palindrome page
        <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-app_setup>
          + 9.1.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-exercises_app_setup>
      o 9.2 Event listeners
        <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-event_listeners>
          + 9.2.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-exercises_event_listeners>
      o 9.3 Dynamic HTML
        <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-dynamic_html>
          + 9.3.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-exercises_dynamic_html>
      o 9.4 Form handling
        <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-form_handling>
          + 9.4.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-exercises_form_handling>
  * 10. Shell scripts with Node.js
    <https://www.learnenough.com/javascript-tutorial/shell_scripts>
      o 10.1 Reading from files
        <https://www.learnenough.com/javascript-tutorial/shell_scripts#sec-files>
          + 10.1.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/shell_scripts#sec-exercises_files>
      o 10.2 Reading from URLs
        <https://www.learnenough.com/javascript-tutorial/shell_scripts#sec-urls>
          + 10.2.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/shell_scripts#sec-exercises_urls>
      o 10.3 DOM manipulation at the command line
        <https://www.learnenough.com/javascript-tutorial/shell_scripts#sec-dom_manipulation_at_the_command_line>
          + 10.3.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/shell_scripts#sec-exercises_dom_manipulation_at_the_command_line>
  * 11. Full sample app: Image gallery
    <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery>
      o 11.1 Prepping the gallery
        <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-prepping_the_gallery>
          + 11.1.1 Prepping the JavaScript
            <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-prepping_the_js>
          + 11.1.2 Exercises
            <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-exercises_prepping_the_gallery>
      o 11.2 Changing the gallery image
        <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-changing_the_gallery_image>
          + 11.2.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-exercises_changing_the_gallery_image>
      o 11.3 Setting an image as current
        <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-setting_an_image_as_current>
          + 11.3.1 Exercises
            <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-exercises_setting_an_image_as_current>
      o 11.4 Changing the image info
        <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-changing_the_image_info>
          + 11.4.1 Deploying
            <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-deploying>
          + 11.4.2 Exercises
            <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-exercises_changing_the_image_info>
      o 11.5 Conclusion
        <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-conclusion>
          + 11.5.1 Learning more JavaScript
            <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-learning_more_javascript>
          + 11.5.2 Learn a new language
            <https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-learn_a_new_language>

    Single Page View
    <https://www.learnenough.com/javascript-tutorial?single_page=1>

<javascript://><javascript://>


  The Learn Enough Society


























































          Learn to Tech

Learning to be technically sophisticated is the most important skill of
the 21st century. We hope to reach and inspire as many people as
possible — and we want you to be a part of it.

THE LEARN ENOUGH STORY <https://www.learnenough.com/story>


          Get access to all tutorials and screencasts

Learn Enough Society members get access to all the published tutorials,
all screencasts, and immediate access to new tutorials (including the
full Rails 5 edition of the Rails Tutorial).

JOIN THE SOCIETY NOW <https://www.learnenough.com/subscriptions/new>

Join the Learn Enough Society
<https://www.learnenough.com/subscriptions/new>  today to get access to
all tutorials and screencasts (including the Rails 5 edition of the
Rails Tutorial)


  Chapter 9 Events and DOM manipulation
  <https://www.learnenough.com/javascript-tutorial/dom_manipulation#cha-dom_manipulation>

In this chapter, we return to JavaScript’s native environment and put
our newly created Node module to work in the browser.Specifically, we’ll
be making a simple single-page JavaScript application that takes in a
string from the user and indicates whether or not that string is a
palindrome.

Our approach involves gradually increasing levels of sophistication,
starting with a simple “hello, world”–style proof-of-concept
(Section 9.1
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-app_setup>).We’ll
then add a prompt/alert design that will motivate the introduction of
/event listeners/ (Section 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-event_listeners>).In
Section 9.3
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-dynamic_html>,
we’ll replace the alert with dynamic HTML inserted on the page
itself—our first example of manipulating the Document Object Model
tree.Finally, in Section 9.4
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-form_handling>
we’ll add an HTML /form/, which is a more convenient method for entering
data than a JavaScript prompt.

The |browserify| program defaults to dumping the results to the screen (STDOUT), so
redirecting
<https://www.learnenough.com/r/learn_enough_command_line/manipulating_files/redirecting_and_appending#sec-redirecting_and_appending>
via |browserify main.js > bundle.js| works as well.
I originally intended to cover the popular jQuery <https://jquery.com/>
library in this tutorial, but using it does introduce some overhead and
a third-party dependency, so was pleased to discover that |querySelector| and the closely related |querySelectorAll| (Section 11.2
<https://www.learnenough.com/javascript-tutorial/sample_app_image_gallery#sec-changing_the_gallery_image>)
have made vanilla JavaScript plenty powerful for our purposes.
Image retrieved from Wikimedia
<https://commons.wikimedia.org/wiki/File:Sator_Square_at_Opp%C3%A8de.jpg> on
2018-03-14.Copyright © 2003 by M. Disdero and used unaltered under the
terms of the Creative Commons Attribution-ShareAlike 3.0 Unported
<https://creativecommons.org/licenses/by-sa/3.0/> license.
The amazingly long palindrome in Figure 9.14
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-form_long_palindrome>
was created in 1983 by pioneering computer scientist Guy Steele
<https://en.wikipedia.org/wiki/Guy_L._Steele_Jr.> with the aid of a
custom program.


    9.1 A working palindrome page
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-app_setup>

To get started with our palindrome detector, we’ll create both an HTML
file and our site’s main JavaScript file, called |palindrome.html| and |main.js|, respectively:

$ cd ~/repos/js_tutorial
$ touch palindrome.html main.js

As in Chapter 1
<https://www.learnenough.com/javascript-tutorial/hello_world#cha-hello_world>,
we’ll make a minimal “hello, world” app just to prove that everything is
basically working.To do this, we need to install the |<username>-palindrome| module created in Section 8.1
<https://www.learnenough.com/javascript-tutorial/testing#sec-testing_setup>:

$ npm install <username>-palindrome    # Replace <username> with your username.

If for any reason you didn’t complete Section 8.1
<https://www.learnenough.com/javascript-tutorial/testing#sec-testing_setup>,
you can use my version of the module, |mhartl-palindrome|.

To use the |Phrase| object exported by the module (Listing 8.2
<https://www.learnenough.com/javascript-tutorial/testing#code-module_export_phrase>),
all we need to do is edit |main.js| and use |let| to bind the name |Phrase| to the result of the |require| function, as shown in Listing 9.1
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-initial_main_js>.

Listing 9.1: Adding a proof-of-concept.
|main.js

|

let Phrase = require("<username>-palindrome");

alert(new Phrase("Madam, I'm Adam.").palindrome());

Listing 9.1
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-initial_main_js>
also includes an |alert|, which if it works will tell us that the |require| succeeded.

Recall from Section 5.2
<https://www.learnenough.com/javascript-tutorial/functions#sec-functions_in_a_file>
that we can include external JavaScript files using the |src| attribute of the |script| tag (Listing 5.5
<https://www.learnenough.com/javascript-tutorial/functions#code-hello_day_file>):

<script src="filename.js"></script>

You might think that we could just include |main.js| directly, like this:

<script src="main.js"></script>

Unfortunately, because browsers don’t support |require|, this won’t work.Instead, we need to use an NPM module called |browserify| (require node module into browser
<https://www.google.com/search?q=require+node+module+into+browser>):

$ npm install --global browserify

The |browserify| utility takes our offline code and bundles it up in a way that
browsers can understand, as shown in Listing 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-browserify>.

Listing 9.2: Using |browserify| to prepare a JavaScript bundle for the browser.

$ browserify main.js -o bundle.js

Using the |-o| (output file) flag, Listing 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-browserify>
arranges to create a file called |bundle.js| that /can/ be included in a browser.^1 <#cha-9_footnote-1> (How does
browserify do this?I have no idea.Being able to use modules whose inner
workings are mysterious is an important part of technical sophistication.)

/Note/: Making changes in |main.js| but forgetting to rerun |browserify| is a common source of errors, so be sure to try rerunning Listing 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-browserify>
if you ever find that your expected changes aren’t showing up on the
page.I also suggest looking at the watchify
<https://www.npmjs.com/package/watchify> package, which is designed to
re-build the bundled version automatically.

At this point, our JavaScript is properly bundled for use on a web page,
so we can include it using the |src| attribute as developed in Section 5.2
<https://www.learnenough.com/javascript-tutorial/functions#sec-functions_in_a_file>.The
resulting |palindrome.html|, which includes a minimal HTML skeleton as well, appears in
Listing 9.3
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-src_bundle>.

Listing 9.3: Creating the palindrome page, including the JavaScript source.
|palindrome.html

|

<!DOCTYPE html>
<html>
  <head>
    <title>Palindrome Tester</title>
    <meta charset="utf-8">
    <script src="bundle.js"></script>
  </head>
  <body>
    <h1>Palindrome Tester</h1>
  </body>
</html>

The result should be a working alert, as shown in Figure 9.1
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-npm_alert>.If
things don’t work on your system, follow the suggestions in Box 5.1
<https://www.learnenough.com/javascript-tutorial/functions#aside-debugging>
to resolve the discrepancy.

images/figures/npm_alert
Figure 9.1: Confirming that the module has been loaded.

Amazingly, we can already get a working (if rudimentary) palindrome
detector working.All we need to do is use the |prompt| function, which prompts the user for some input (and returns the result):

let Phrase = require("<username>-palindrome");
let string = prompt("Please enter a string for palindrome testing:");

The user’s input is automatically returned, allowing us to create a new |Phrase| instance and test whether it’s a palindrome or not:

let phrase = new Phrase(string);

if (phrase.palindrome()) {
  alert(`"${phrase.content}" is a palindrome!`);
} else {
  alert(`"${phrase.content}" is not a palindrome.`)
}

Putting everything together gives the result shown in Listing 9.4
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-first_detector>.

Listing 9.4: Our first working palindrome detector.
|main.js

|

let Phrase = require("<username>-palindrome");

let string = prompt("Please enter a string for palindrome testing:");
let phrase = new Phrase(string);

if (phrase.palindrome()) {
  alert(`"${phrase.content}" is a palindrome!`);
} else {
  alert(`"${phrase.content}" is not a palindrome.`)
}

All we need to do now is rerun |browserify| and reload the browser:

$ browserify main.js -o bundle.js

Refreshing |palindrome.html| now immediately prompts us for a string, as shown in Figure 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-string_prompt>.

images/figures/string_prompt
Figure 9.2: A string prompt.

The user experience may not be all that great, but, as seen in
Figure 9.3
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-palindrome_alert>,
it actually works!

images/figures/palindrome_alert
Figure 9.3: Alerted to a valid palindrome.


      9.1.1 Exercises
      <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-exercises_app_setup>

 1. By following the steps from Section 1.2.1
    <https://www.learnenough.com/javascript-tutorial/hello_world#sec-deployment>,
    deploy the palindrome detector to production.You will also have to
    add a file to tell GitHub Pages to treat the site as ordinary HTML
    instead of using the Jekyll static site builder (which causes errors
    when processing Node modules), as shown in Listing 9.5
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-nojekyll>.Does
    the code work on the live site?

Listing 9.5: Telling GitHub Pages not to use the Jekyll static site
builder.

$ touch .nojekyll
$ git add -A
$ git commit -m "Prevent Jekyll build"


    9.2 Event listeners
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-event_listeners>

In Section 9.1
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-app_setup>,
we somewhat miraculously got a live palindrome detector working, but the
user experience wasn’t all that great: users visiting the page are
immediately hit with a prompt, without even a chance to see what the
page is about.

In this section, we’ll make the palindrome page a little friendlier by
adding a /button/ that gives the user the option to initiate the
action.It’s also nicer for detecting palindromes more than once, since
users will be able to click the button again rather than having to
refresh the entire page.

Our first step is to add the button itself, as shown in Listing 9.6
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-button_html>,
which shows how to use the HTML |button| tag.

Listing 9.6: Adding a button.
|palindrome.html

|

<!DOCTYPE html>
<html>
  <head>
    <title>Palindrome Tester</title>
    <meta charset="utf-8">
    <script src="bundle.js"></script>
  </head>
  <body>
    <h1>Palindrome Tester</h1>

    <button id="palindromeTester">Is it a palindrome?</button>

  </body>
</html>

Note that the button in Listing 9.6
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-button_html>
uses a CSS id.This is in line with the recommendations discussed
<https://www.learnenough.com/r/css_and_layout/style-of-style/css_why#sec-css_why>
in /Learn Enough CSS & Layout to Be Dangerous/
<https://www.learnenough.com/css-and-layout>, which recommended not
using ids for styling (preferring classes instead), and reserving them
for use in things like JavaScript applications (a time that now has come!).

After refreshing the page, we see the button appear (Figure 9.4
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-button_appears>).

images/figures/button_appears
Figure 9.4: A wild button
<http://knowyourmeme.com/memes/a-wild-x-appears-wild-x-appeared> appears.

As you can confirm by clicking it, the button currently does nothing,
but we can change that using a JavaScript /event listener/, which is a
piece of code that waits for a particular event to happen and then
responds appropriately.In this case, the response will be the palindrome
test itself, so we’ll factor the corresponding code from Listing 9.4
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-first_detector>
into a separate function, as shown in Listing 9.7
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-palindrome_tester_function>.

Listing 9.7: Factoring the palindrome tester into a function.
|main.js

|

function palindromeTester() {
  let string = prompt("Please enter a string for palindrome testing:");
  let phrase = new Phrase(string);

  if (phrase.palindrome()) {
    alert(`"${phrase.content}" is a palindrome!`);
  } else {
    alert(`"${phrase.content}" is not a palindrome.`)
  }
}

Next, we’ll create a special object that represents the button
itself.The way to do this is to use the powerful |querySelector| function, which lets us find an element in the page’s DOM using its
id:^2 <#cha-9_footnote-2>

let button = document.querySelector("#palindromeTester");

Note here that JavaScript knows to look for a CSS id (and not a CSS
class) because |#palindromeTester| starts with a hash symbol |#|.Recall
<https://www.learnenough.com/r/css_and_layout/style-of-style/naming_things#sec-naming_things>
from /Learn Enough CSS & Layout to Be Dangerous/
<https://www.learnenough.com/css-and-layout> that is the same notation
to select a CSS id in CSS itself.

(The |querySelector| method is a rare case where Googling can lead you astray; as of this
writing, searching for javascript find element by id
<https://www.google.com/search?q=javascript+find+element+by+id> leads
mainly to |getElementById|, which does in fact work, but which is not as powerful and flexible as
the newer |querySelector| method.)

Having created an object to represent the button, we can now add the
event listener
<https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener>
and set it to listen for a “click” using |addEventListener|:

let button = document.querySelector("#palindromeTester");
button.addEventListener("click", function() {
  palindromeTester();
});

The first argument here is the kind of event, while the second is a
function that will be executed when the click happens.(A function of
this sort that executes when something else happens is called a
/callback/
<https://en.wikipedia.org/wiki/Callback_(computer_programming)>.)In this
case, we could actually have written

let button = document.querySelector("#palindromeTester");
button.addEventListener("click", palindromeTester);

but we’ve used an anonymous function instead to emphasize the general
case where there might be more than one line.

Putting everything together, the resulting |main.js| appears as in Listing 9.8
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-nonworking_listener>.

Listing 9.8: The initial event listener code.
|main.js

|

let Phrase = require("<username>-palindrome");

function palindromeTester() {
  let string = prompt("Please enter a string for palindrome testing:");
  let phrase = new Phrase(string);

  if (phrase.palindrome()) {
    alert(`"${phrase.content}" is a palindrome!`);
  } else {
    alert(`"${phrase.content}" is not a palindrome.`)
  }
}

let button = document.querySelector("#palindromeTester");
button.addEventListener("click", function() {
  palindromeTester();
});

Running Listing 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-browserify>,
refreshing the page, and clicking the button shows that… still nothing
happens.Taking a look at the console gives us a hint why (Figure 9.5
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-listener_console>).Somehow,
the |button| object isn’t being defined.

images/figures/listener_console
Figure 9.5: An unexpected |null| object.

The solution to this mystery also addresses something we glossed over
when building up to Listing 9.8
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-nonworking_listener>:
namely, what is |document|?The answer is that |document| (surprise!) represents the document itself.The problem we’re facing is
that, at the time that |main.js| (via |bundle.js|) gets loaded, /the document content hasn’t finished loading yet/.As a
result, while the |document| object exists, there is not yet an element with id |palindromeTester|, so the |querySelector| in Listing 9.8
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-nonworking_listener>
turns up a big fat |null|.When we try calling |addEventListener| on this |null|, it raises the error shown in Figure 9.5
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-listener_console>.

This is a common issue when programming in JavaScript, and the solution
is to use a /second/ listener, one that waits for the Document Object
Model content to be loaded.

images/figures/dom
Figure 9.6: The DOM.

As noted briefly in Chapter 1
<https://www.learnenough.com/javascript-tutorial/hello_world#cha-hello_world>,
the Document Object Model, or DOM, is the hierarchical model used to
describe the contents of a web page (Figure 9.6
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-dom>).When
rendering a page, the browser constructs the DOM using the content of
the page, and fires off an event notification when the DOM content is
loaded.For our button listener to work, this event—called, appropriately
enough, |"DOMContentLoaded"|—needs a listener of its own:

document.addEventListener("DOMContentLoaded", function() {
  let button = document.querySelector("#palindromeTester");
  button.addEventListener("click", function() {
    palindromeTester();
  });
});

Let’s put this expanded code into |main.js| (Listing 9.9
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-dom_content_loaded>)
and see what happens.

Listing 9.9: An event listener for the loading of the DOM.
|main.js

|

let Phrase = require("<username>-palindrome");

function palindromeTester() {
  let string = prompt("Please enter a string for palindrome testing:");
  let phrase = new Phrase(string);

  if (phrase.palindrome()) {
    alert(`"${phrase.content}" is a palindrome!`);
  } else {
    alert(`"${phrase.content}" is not a palindrome.`)
  }
}

document.addEventListener("DOMContentLoaded", function() {
  let button = document.querySelector("#palindromeTester");
  button.addEventListener("click", function() {
    palindromeTester();
  });
});

Rerunning Listing 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-browserify>,
refreshing the browser, and clicking the button shows that it’s
working!The result appears in Figure 9.7
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-working_dom_loaded>.

images/figures/working_dom_loaded
Figure 9.7: Clicking the button after waiting for the DOM to load.

As with the initial version in Section 9.1
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-app_setup>,
the current page displays the results in an |alert|, as seen in Figure 9.8
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-alert_dom_loaded>.

images/figures/alert_dom_loaded
Figure 9.8: Still an alert.

This is an excellent start.In Section 9.3
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-dynamic_html>,
we’ll learn how to display the result in the HTML itself.


      9.2.1 Exercises
      <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-exercises_event_listeners>

 1. The most common way to handle a button is to put it in an HTML
    /form/ (discussed futher in Section 9.4
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-form_handling>).Confirm
    using the code in Listing 9.10
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-first_form>
    and Listing 9.11
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-submit_event>
    that it’s possible to combine a form, a button, and a listener on the |submit| event to achieve the same behavior as a plain button.(Don’t forget
    to re-run |browserify| to update |bundle.js|.)

Listing 9.10: Adding a simple HTML form.
|palindrome.html

|

<!DOCTYPE html>
<html>
  <head>
    <title>Palindrome Tester</title>
    <meta charset="utf-8">
    <script src="bundle.js"></script>
  </head>
  <body>
    <h1>Palindrome Tester</h1>

    <form id="palindromeTester">
      <button type="submit">Is it a palindrome?</button>
    </form>

  </body>
</html>

Listing 9.11: Listing for the |submit| event.
|main.js

|

let Phrase = require("<username>-palindrome");

function palindromeTester() {
  let string = prompt("Please enter a string for palindrome testing:");
  let phrase = new Phrase(string);

  if (phrase.palindrome()) {
    alert(`"${phrase.content}" is a palindrome!`);
  } else {
    alert(`"${phrase.content}" is not a palindrome.`)
  }
}

document.addEventListener("DOMContentLoaded", function() {
  let form = document.querySelector("#palindromeTester");
  form.addEventListener("submit", function() {
    palindromeTester();
  });
});


    9.3 Dynamic HTML
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-dynamic_html>

We left off in Section 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-event_listeners>
with a working palindrome detector, but displaying the results in an |alert| is a little cumbersome.In this section, we’ll improve the design by
updating the page HTML directly.(Accepting input via a |prompt| is also cumbersome; we’ll address that issue in Section 9.4
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-form_handling>.)

To prepare for this, let’s add another heading and a paragraph with a
CSS id for the result (Listing 9.12
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-palindrome_result_paragraph>).

Listing 9.12: Adding HTML for a palindrome result.
|palindrome.html

|

<!DOCTYPE html>
<html>
  <head>
    <title>Palindrome Tester</title>
    <meta charset="utf-8">
    <script src="bundle.js"></script>
  </head>
  <body>
    <h1>Palindrome Tester</h1>

    <button id="palindromeTester">Test palindrome</button>

    <h2>Result</h2>

    <p id="palindromeResult"></p>

  </body>
</html>

Note that the paragraph in Listing 9.12
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-palindrome_result_paragraph>
is /empty/; this is because we’re going to fill its contents dynamically
with JavaScript.

Amazingly, updating our code to use dynamic HTML instead of an alert
requires adding only one line, while making minor edits to two others.We
first need to use the same |querySelector| method from Listing 9.9
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-dom_content_loaded>
to grab the HTML element with the |palindromeResult| id:

function palindromeTester() {
  let string = prompt("Please enter a string for palindrome testing:");
  let phrase = new Phrase(string);
  let palindromeResult = document.querySelector("#palindromeResult");

  if (phrase.palindrome()) {
    alert(`"${phrase.content}" is a palindrome!`);
  } else {
    alert(`"${phrase.content}" is not a palindrome.`)
  }
}

Then, instead of using an |alert|, we can simply assign the notification strings to the |innerHTML| attribute of the |palindromeResult| object:

function palindromeTester() {
  let string = prompt("Please enter a string for palindrome testing:");
  let phrase = new Phrase(string);
  let palindromeResult = document.querySelector("#palindromeResult");

  if (phrase.palindrome()) {
    palindromeResult.innerHTML = `"${phrase.content}" is a palindrome!`;
  } else {
    palindromeResult.innerHTML = `"${phrase.content}" is not a palindrome.`;
  }
}

The full |main.js| now appears as in Listing 9.13
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-dynamic_html>.

Listing 9.13: Adding the notification to the result area.
|main.js

|

let Phrase = require("<username>-palindrome");

function palindromeTester() {
  let string = prompt("Please enter a string for palindrome testing:");
  let phrase = new Phrase(string);
  let palindromeResult = document.querySelector("#palindromeResult");

  if (phrase.palindrome()) {
    palindromeResult.innerHTML = `"${phrase.content}" is a palindrome!`;
  } else {
    palindromeResult.innerHTML = `"${phrase.content}" is not a palindrome.`;
  }
}

document.addEventListener("DOMContentLoaded", function() {
  let button = document.querySelector("#palindromeTester");
  button.addEventListener("click", function() {
    palindromeTester();
  });
});

Upon rerunning Listing 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-browserify>
and refreshing the browser, the result area is now ready to display the
notification previously seen in the alert (Figure 9.9
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-result_area>).

images/figures/result_area
Figure 9.9: The result area.

Let’s see if our detector can correctly identify one of the most ancient
palindromes, the so-called Sator Square
<https://en.wikipedia.org/wiki/Sator_Square> first found in the ruins of
Pompeii <https://en.wikipedia.org/wiki/Pompeii> (Figure 9.10
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-sator_square>).^3
<#cha-9_footnote-3> (Authorities differ on the exact meaning of the
Latin words in the square, but the likeliest translation is “The sower
[farmer] Arepo holds the wheels with effort.”)

images/figures/sator_square
Figure 9.10: A Latin palindrome from the lost city of Pompeii.

Clicking the button and entering “SATOR AREPO TENET OPERA ROTAS”
(Figure 9.11
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-enter_sator>)
leads to the results being displayed directly in the HTML, as seen in
Figure 9.12
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-dynamic_html>.

images/figures/enter_sator
Figure 9.11: A Latin palindrome.
images/figures/dynamic_html
Figure 9.12: HTML dynamicus.


      9.3.1 Exercises
      <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-exercises_dynamic_html>

 1. In order to make the result in Figure 9.12
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-dynamic_html>
    easier to read, make the palindrome itself bold using the |strong| tag, as in “ ‘*SATOR AREPO TENET OPERA ROTAS*’ is a palindrome!”


    9.4 Form handling
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-form_handling>

As a final touch, in this section we’ll replace the |prompt| used in previous sections with a more natural /HTML form/.Although
form-handling in general requires having a back-end web application on
the server (such as that provided by Sinatra
<https://www.learnenough.com/ruby> or Rails
<https://www.railstutorial.org/>), we can fake it with JavaScript by
adding an event listener to intercept the resulting |"submit"| event.

The first step is to wrap the |button| tag (Listing 9.12
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-palindrome_result_paragraph>)
in a form:

<form id="palindromeTester">
  <textarea name="phrase" rows="10" cols="30"></textarea>
  <br>
  <button type="submit">Is it a palindrome?</button>
</form>

Here we’ve transferred the CSS id to the |form| tag itself, and have introduced the HTML |textarea| tag (10 rows tall and 30 columns wide), while also identifying the |button| as being of type |"submit"|.Note also that the |textarea| has a |name| attribute (with value |"phrase"|); this will become important in a moment.

Placing the form on our palindrome page leads to the code shown in
Listing 9.14
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-form_tag>.The
result appears in Figure 9.13
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-form_tag>.

Listing 9.14: Adding a form to the palindrome page.
|palindrome.html

|

<!DOCTYPE html>
<html>
  <head>
    <title>Palindrome Tester</title>
    <meta charset="utf-8">
    <script src="bundle.js"></script>
  </head>
  <body>
    <h1>Palindrome Tester</h1>

    <form id="palindromeTester">
      <textarea name="phrase" rows="10" cols="30"></textarea>
      <br>
      <button type="submit">Is it a palindrome?</button>
    </form>

    <h2>Result</h2>

    <p id="palindromeResult"></p>

  </body>
</html>

images/figures/form_tag
Figure 9.13: Our palindrome page with a fancy new form.

Since we’ve changed the event type, we need to update our listener,
changing from |"click"| to |"submit"|:

document.addEventListener("DOMContentLoaded", function() {
  let tester = document.querySelector("#palindromeTester");
  tester.addEventListener("submit", function(event) {
    palindromeTester(event);
  });
});

Note that we’ve also added the |event| parameter to the function argument and when calling |palindromeTester|; more on this in a moment.

Then, in the |palindromeTester| method, we have to make two minor changes.The first involves
preventing the /default behavior/ of the form, which is to submit
information back to the server.Since our “server” is just a static web
page, we can’t handle such a submission, so we need to prevent this
default behavior as follows:

function palindromeTester(event) {
  event.preventDefault();
  .
  .
  .
}

Here |event| is a special object that JavaScript provides for just this sort of case.

The second change is that, instead of grabbing the phrase string from a |prompt|, we’ll get it directly from the form submission.This is where the |name| attribute from the |textarea| in Listing 9.14
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-form_tag>
comes in: we can access the phrase from the /target/ of the |event|.In this case, the |event| target is just a |form| object, so |event.target| is the form itself.Moreover, because of the |name="phrase"| key/value pair in the |textarea| of the form, |event.target| has an attribute whose /value/ is the submitted string.In other words,
if we entered, say, the phrase “Madam, I’m Adam.”, we could extract the
value as follows:

event.target.phrase.value    // would be "Madam, I'm Adam."

Applying this to the |palindromeTester| function and combining with the new listener gives the result shown in
Listing 9.15
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-form_event_target>.By
the way, the inclusion of |event| in |function(event)| isn’t necessary on some systems, but should be included for maximum
cross-browser compatibility.

Listing 9.15: Handling form submission in JavaScript.
|main.js

|

let Phrase = require("<username>-palindrome");

function palindromeTester(event) {
  event.preventDefault();

  let phrase = new Phrase(event.target.phrase.value);
  let palindromeResult = document.querySelector("#palindromeResult");

  if (phrase.palindrome()) {
    palindromeResult.innerHTML = `"${phrase.content}" is a palindrome!`;
  } else {
    palindromeResult.innerHTML = `"${phrase.content}" is not a palindrome.`;
  }
}

document.addEventListener("DOMContentLoaded", function() {
  let tester = document.querySelector("#palindromeTester");
  tester.addEventListener("submit", function(event) {
    palindromeTester(event);
  });
});

Rerunning Listing 9.2
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-browserify>,
refreshing, and filling the textarea with one of my favorite looooong
palindromes (Figure 9.14
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-form_long_palindrome>)
gives the result shown in Figure 9.15
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-form_palindrome_result>.^4
<#cha-9_footnote-4>

images/figures/form_long_palindrome
Figure 9.14: Entering a long string in the form’s textarea field.
images/figures/form_palindrome_result
Figure 9.15: That long string is a palindrome!

And with that—“A man, a plan, a canoe, pasta, heros, rajahs, a
coloratura, maps, snipe, percale, macaroni, a gag, a banana bag, a tan,
a tag, a banana bag again (or a camel), a crepe, pins, Spam, a rut, a
Rolo, cash, a jar, sore hats, a peon, a canal—Panama!”—we’re done with
the web version of our JavaScript palindrome detector.Whew!


      9.4.1 Exercises
      <https://www.learnenough.com/javascript-tutorial/dom_manipulation#sec-exercises_form_handling>

 1. Confirm by submitting an empty form that an empty string is
    currently considered to be a palindrome (Figure 9.16
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-empty_palindrome>).This
    is true in a vacuous <https://en.wiktionary.org/wiki/vacuous> sense,
    but it’s probably not the behavior we want.
 2. To fix this issue, follow the procedure outlined in Box 8.2
    <https://www.learnenough.com/javascript-tutorial/testing#aside-when_to_test>
    and write a *red*test asserting that the empty string is /not/ a
    palindrome (Listing 9.16
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-empty_test>),
    then confirm that the application code in Listing 9.17
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-empty_not_palindrome>
    gets the test *green*.
 3. Bump the version number using the guidelines in Box 8.1
    <https://www.learnenough.com/javascript-tutorial/testing#aside-semver>,
    publish your new module as in Section 8.5.1
    <https://www.learnenough.com/javascript-tutorial/testing#sec-publishing_the_npm_module>,
    and then update it using the |npm update| command (Listing 9.18
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-npm_update>).Does
    your application now correctly identify |""| as not being a palindrome (Figure 9.17
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#fig-empty_not_palindrome>)?(/Hint/:
    Don’t forget to rerun Listing 9.2
    <https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-browserify>.)


empty_palindrome
Figure 9.16: Oops—our application thinks the empty string is a palindrome!
Listing 9.16: Template for asserting that the empty string isn’t a
palindrome.*red*
|~/repos/palindrome/test/test.js

|

let assert = require("assert");
let Phrase = require("../index.js");

describe("Phrase", function() {

  describe("#palindrome", function() {
    .
    .
    .
    it("should return false for an empty string", function() {
      let emptyPhrase = new Phrase("");
      assert(FILL_IN);
    });
  }
}

Listing 9.17: Application code for Listing 9.16
<https://www.learnenough.com/javascript-tutorial/dom_manipulation#code-empty_test>.*green*
|~/repos/palindrome/index.js

|

module.exports = Phrase;

// Adds `reverse` to all strings.
String.prototype.reverse = function() {
  return Array.from(this).reverse().join("");
}

function Phrase(content) {
  this.content = content;
  .
  .
  .
  // Returns true if the phrase is a palindrome, false otherwise.
  this.palindrome = function palindrome() {
    if (this.processedContent()) {
      return this.processedContent() === this.processedContent().reverse();
    } else {
      return false;
    }
  }
}

Listing 9.18: Updating an NPM module.

$ npm update <username>-palindrome

empty_not_palindrome
Figure 9.17: Confirming that the empty string is /not/ a palindrome.
${answer_text}
Share with other members {{if make_public}} {{else}} {{/if}}

Cancel <javascript:void(0)>
Formatting: Basic Help
<https://help.github.com/articles/basic-writing-and-formatting-syntax/>
Advanced
<https://help.github.com/articles/creating-and-highlighting-code-blocks/>


          Your Answer

{{html answer_html}}
{{if make_public}} PUBLIC {{/if}} Edit Answer <javascript://> Link
<https://www.learnenough.com/exercise_answers/$%7Btoken%7D>
View all  ( ${ public_count } )
<https://www.learnenough.com/exercise_answers?book_id=301&label=${exercise_id}>
Add Answer <javascript://>
CONTINUE READING
<https://www.learnenough.com/javascript-tutorial/shell_scripts>




LEARN ENOUGH <https://www.learnenough.com/>

  * The LE Story <https://www.learnenough.com/story>
  * News <http://news.learnenough.com/>
  * Courses <https://www.learnenough.com/courses>
  * Log In <https://www.learnenough.com/login>
  * Register <https://www.learnenough.com/subscribe>

  * About <https://www.learnenough.com/about>
  * Legal <https://www.learnenough.com/legal>
  * Contact <mailto:support@learnenough.com>

